<% if message.user_id == current_user.id %>
  <div class="text-right">
    <div class="my-chat">
      <%= simple_format(message.chat) %>
    </div>
    <small class="text-black-50"><%= message.created_at %></small>
  </div>
<% else %>
 <div class="text-left">
    <div class="fukidashi">
      <div class="says">
        <%= simple_format(message.chat) %>
      </div>
    </div>
    <small class="text-black-50"><%= message.created_at %></small>
 </div>
<% end %>