<div class="container mt-4">
  <div class="row">
    <div class="col-12 offset-1 mt-2">
      <p class="h4">紹介文一覧</p>
      <div class="mt-4">
        <%= render 'index', introduces: @introduces %>
      </div>
    </div>
  </div>
</div>