<div class="col-3 sticky-top vh-100 side">
  <p class="text-center h5 mt-2">my-info</p>
  <table class="table table-borderless">
    <tr>
      <td><%= image_tag user.get_image(100,100) %></td>
    </tr>
    <tr>
      <td>ニックネーム:<%= user.nickname %></td>
    </tr>
    <tr>
      <td>紹介文一覧</td>
    </tr>
    <tr>
      <td>いいね一覧</td>
    </tr>
    <tr>
      <td>フォロー一覧</td>
    </tr>
    <tr>
      <td>フォロワー一覧</td>
    </tr>
  </table>
</div>