<div class="container">
  <div class="row">
    <div class="col about-image">
      <p class="about-body">
        昨今、コロナウィルス事情によって休日を家で過ごす人が増えている。<br>
        自宅でできる趣味ということで、ゲームをやり始めた人も少なくはないだろう。<br>
        ゲーム仲間を見つけよう！多くの人が様々な人と交流ができる場所の提供！<br>
        をテーマとしたサイトになっています。<br>
        本サイトは、プログラミング初学者によって作られたポートフォリオサイトになっております。<br>
      </p>
    </div>
  </div>
</div>