<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h3 class="mt-4">このページは削除されたか存在しないページです。</h3>
      <%= link_to "Topページへ", main_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>