<div class="container mt-4">
  <div class="row">
    <div class="col-11 offset-1 mt-2">
      <p class="h4">GAME部へようこそ!!</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-4 ">
      <p class="h5">今の近況を投稿しよう！</p>
      <%= render 'posts/form', npost: @npost %>
    </div>
    <div class="col-8">
      <p class="h5">新着投稿(3件)</p>
      <%= render 'posts/index', posts: @posts %>
    </div>
  </div>

  <div>
    <%= link_to "マッチング画面", matches_path %>
  </div>

</div>