h1 {
  display: inline-block;
  background-color: #FFFFFF;
  font-size: 40px;
  box-shadow: 0px 10px 10px -5px rgb(0 0 0 / 50%);
  width: 500px;
  border: 1px solid rgba(0,0,0,0.1);
  font-weight: bold;
}

.heading {
  display: inline-block;
  background: linear-gradient(transparent 60%, #98FB98 60%)
}

body {
  background-image: url("../../assets/images/main_image.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

/*フッター一固定*/
.whole {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.container {
  box-shadow: 0px 0px 15px 10px #f8f9fa;
  height: 100%;
  padding-bottom: 30px;
  background-color: #FFFFF0;
}
.main-image .container{
  padding-bottom: initial;
  box-shadow: initial;
  background-color: initial;
}

.box{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
  background-color: #FFFAFA;
  padding-bottom: 10px;
}

.alert {
  margin-bottom: 0px;
}

/*ヘッダー*/
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*my-info(サイドバー)*/
.side {
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  background-color: #FFFAFA;
  height: 500px;
}


/* Aboutページ*/
.about-image {
  height: 600px;
  background-image: url("../../assets/images/about_image.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: relative;
}

.about-body {
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  position: absolute;          /* 位置指定 */
  padding: 20px;               /* 余白指定 */
  top: 0;                     /* 位置指定 */
  bottom: 0;                  /* 位置指定 */
  left: 0;                    /* 位置指定 */
  right: 0;                   /* 位置指定 */
  margin: auto;               /* 中央寄せ */
  width: 100%;               /* 幅指定 */
 height: 30%;                /* 高さ指定 */
}

/* Topページ*/

.top-font{
  font-family: 'DotGothic16', sans-serif;
}

.logo {
  background-color: #000;
  color: #FFF;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 10px;
  border: solid;
  display: flex;
  flex-flow: column;
}

.logo p {
    font-size: 26px;
    font-weight: 700;
  }

.logo-image {
  margin-top: 3px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 5px;
}

.login-btn{
  text-align: left;
  font-size: 26px;
  font-weight: bold;
  margin: 3px 0px 3px 15%;
}

.login-btn a:visited{
  color: #FFF;
}

.login-btn a:link{
  color: #FFF;
}

.login-btn :hover:before{
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 11px solid #ffffff;
  border-right: 0;
}

.login {
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*アコーディオンで現れるエリア*/
.about-box {
  display: none;/*はじめは非表示*/
  margin:0 3% 3% 3%;
  padding: 3%;
}

.about-box p {
  font-size: 17px;
  text-align: left
}

.title a:hover {
  cursor: pointer;
  text-decoration:underline solid !important;
}

/*mainページ*/
.btn-match {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  width: 300px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  background-color: #32CD32;
  box-shadow: 0 5px 0 #006400;
  transition: 0.3s;
  margin-bottom: 10px;
}

.btn-match::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;
  transform: rotate(45deg);
}

.btn-match:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #006400;
  color: #FFFAFA;
}

/*投稿一覧*/
.post-box {
  margin: 5px 0px;
  padding: 0.5rem;
  background: #f7f7f7;
  border-left: solid 6px #EE82EE;
  color: #696969;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}

.post-box .post-title {
  font-size: 30px;
}

/*紹介文吹き出し*/
.introduce-box {
	position: relative;
	background: #f0f0f0;
	border: 1px solid #373645;
	border-radius: 10px;
}
.introduce-box:after, .introduce-box:before {
	bottom: 100%;
	left: 40px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.introduce-box:after {
	border-color: rgba(240, 240, 240, 0);
	border-bottom-color: #f0f0f0;
	border-width: 5px;
	margin-left: -5px;
}
.introduce-box:before {
	border-color: rgba(55, 54, 69, 0);
	border-bottom-color: #373645;
	border-width: 6px;
	margin-left: -6px;
}

/*マッチングタグ風表示*/
.tag {
  margin: 5px 0px;
  padding: 0.5rem;
  background: #f7f7f7;
  border-left: solid 6px #58ad5a;
  color: #696969;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}
.tag p {
  margin: 2px;
}

/*ルーム情報*/
.room-info {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
  border-top:solid 5px #F0FFFF;
  border-bottom:solid 5px #F0FFFF;
  background-color: #FFFAFA;
}
.room-info::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;

}

/*ルームチャット*/
.room-message {
  background-color: #87CEFA;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
  border-radius: 10px 10px 0px 0px;
  min-height: 200px;
  padding: 10px;
}

.fukidashi {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 15px;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}
.says::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

.my-chat {
  margin-right: 15px;
}
.my-chat p {
  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 8px;
  max-width: 80%;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}
.my-chat p::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.time p {
  margin: 0px;
}

.room-chat {
  height: 60px;
  background-color: #233B6C;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-chat .form-control {
  width: 90%;
  margin: auto;
}

/*管理者TOP*/
.admin-btn {
  text-align: center;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-btn p {
  border: 4mm ridge rgba(150, 150, 150, .6);
  background-color: #A9A9A9;
  color: #FFFFFF;
  font-weight: bold;
  width: 150px;
}

.admin-btn a:hover {
  text-decoration: none;
}

/*フッター*/
footer{
  background-color: #C0C0C0;
  width: 100%;
  border-top: thick double #708090 ;
}

