.about_image {
  height: 600px;
  background-image: url(../../assets/images/about_image.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: relative;
}

.about_body {
  text-align: center;
  background-color: rgba(255,255,255,0.8);
   position: absolute;          /* 位置指定 */
   padding: 20px;               /* 余白指定 */
   top: 0;                     /* 位置指定 */
   bottom: 0;                  /* 位置指定 */
   left: 0;                    /* 位置指定 */
   right: 0;                   /* 位置指定 */
   margin: auto;               /* 中央寄せ */
   width: 100%;               /* 幅指定 */
   height: 30%;                /* 高さ指定 */
}