
h1 {
  display: inline-block;
  background-color: #FFFFFF;
  font-size: 40px;
  box-shadow: 0px 10px 10px -5px rgb(0 0 0 / 50%);
  width: 500px;
  border: 1px solid rgba(0,0,0,0.1);
  font-weight: bold;
}

.heading {
  display: inline-block;
  background: linear-gradient(transparent 60%, #98FB98 60%)
}
main {
  background-color: #FFFFF0;
}

html,body {
  height: 100%;
  background-color: #FFFFF0;
}

.whole {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.container {
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
  height: 100%;
  padding-bottom: 30px;
}

/*ヘッダー*/
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*my-info(サイドバー)*/
.side {
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  background-color: #FFFAFA;
  height: 500px;
}


/* Aboutページ*/
.about_image {
  height: 600px;
  background-image: url("../../assets/images/about_image.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: relative;
}

.about_body {
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  position: absolute;          /* 位置指定 */
  padding: 20px;               /* 余白指定 */
  top: 0;                     /* 位置指定 */
  bottom: 0;                  /* 位置指定 */
  left: 0;                    /* 位置指定 */
  right: 0;                   /* 位置指定 */
  margin: auto;               /* 中央寄せ */
  width: 100%;               /* 幅指定 */
 height: 30%;                /* 高さ指定 */
}

/* Topページ*/
.main_image {
  background-image: url("../../assets/images/main_image.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.main_image main {
  background-color: #1fe0;
}

.logo {
  background-color: rgba(255,255,255,0.3);
  margin-top: 50px;
  text-align: center;
}

.logo   p {
    font-size: 20px;
    font-weight: 700;
  }

.login {
  margin-top: 50px;
  text-align: center;
      display: flex;
    justify-content: center;
    align-items: center;
}

.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 60px;
  color: #165E83;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
}

.btn a:hover {
  color: #233B6C;
}

/* ログインボタン*/
.btn01 a {
  background-color: #87CEFA;
  border: 1px solid transparent;
}

.btn01 a::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #333;
  border-color: #000080;
}

.btn01 a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: #000080;
}

.btn01 a:hover {
  background-color: #00BFFF;
}

/* 新規登録ボタン*/
.btn02 a {
  background-color: #90EE90;
  border: 1px solid transparent;
}

.btn02 a::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #333;
  border-color: #006400;
}

.btn02 a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: #006400;
}

.btn02 a:hover {
background-color: #32CD32;
}

/* ゲストログインボタン*/
.btn03 a {
  background-color: #DCDCDC;
  border: 1px solid transparent;
}

.btn03 a::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #333;
  border-color: #696969;
}

.btn03 a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
  width: 70px;
  height: 1px;
  background-color: #696969;
}

.btn03 a:hover {
  background-color: #A9A9A9;
}

/*Topページ*/

.btn-match {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  width: 300px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  background-color: #32CD32;
  box-shadow: 0 5px 0 #006400;
  transition: 0.3s;
  margin-bottom: 10px;
}

.btn-match::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;
  transform: rotate(45deg);
}

.btn-match:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #006400;
  color: #FFFAFA;
}

/*投稿一覧*/
.post-box {
  margin: 5px 0px;
  padding: 0.5rem;
  background: #f7f7f7;
  border-left: solid 6px #EE82EE;
  color: #696969;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}

.post-box .post-title {
  font-size: 30px;
}

/*紹介文吹き出し*/
.introduce-box {
	position: relative;
	background: #f0f0f0;
	border: 1px solid #373645;
	border-radius: 10px;
}
.introduce-box:after, .introduce-box:before {
	bottom: 100%;
	left: 40px;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.introduce-box:after {
	border-color: rgba(240, 240, 240, 0);
	border-bottom-color: #f0f0f0;
	border-width: 5px;
	margin-left: -5px;
}
.introduce-box:before {
	border-color: rgba(55, 54, 69, 0);
	border-bottom-color: #373645;
	border-width: 6px;
	margin-left: -6px;
}

/*マッチングタグ風表示*/
.tag {
  margin: 5px 0px;
  padding: 0.5rem;
  background: #f7f7f7;
  border-left: solid 6px #58ad5a;
  color: #696969;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}
.tag p {
  margin: 2px;
}

/*ルーム情報*/
.room-info {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
  border-top:solid 5px #F0FFFF;
  border-bottom:solid 5px #F0FFFF;
  background-color: #FFFAFA;
}
.room-info::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;

}

/*ルームチャット*/
.room-chat {
  background-color: #87CEFA;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}

.fukidashi {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 15px;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}
.says::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

.my-chat {
  margin-top: 10px;
}
.my-chat p {
  display: inline-block;
  position: relative;
  margin: 0px;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}
.my-chat p::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.time p {
  margin: 0px;
}

/*管理者TOP*/

.box{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.22);
  background-color: #FFFAFA;
}
.admin-btn {
  text-align: center;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-btn p {
  border: 4mm ridge rgba(150, 150, 150, .6);
  background-color: #A9A9A9;
  color: #FFFFFF;
  font-weight: bold;
  width: 150px;
}

.admin-btn a:hover {
  text-decoration: none;
}

/*フッター*/
footer{
  background-color: #C0C0C0;
  width: 100%;
  margin-top: 30px;
  border-top: thick double #708090 ;
}

