<div class="container mt-4">
  <p class="h4">投稿一覧</p>
  <div class="row">

    <%= render 'users/info', user: current_user %>

    <div class="col-8 offset-1">
      <p>今の状況を投稿しよう！</p>
    </div>
  </div>
</div>