<div class="container mt-4">
  <div class="row">
    <div class="col-12 offset-1 mt-2">
      <p class="h4">ユーザー一覧</p>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      ID.ネーム
    </div>
    <div class="col-2">
      ステータス
    </div>
    <div class="col-2">
      ID.ネーム
    </div>
    <div class="col-2">
      ステータス
    </div>
    <div class="col-2">
      ID.ネーム
    </div>
    <div class="col-2">
      ステータス
    </div>

    <% @users.each do |user| %>
      <div class="col-2">
        <%= user.id %>.
        <%= link_to admin_user_path(user) do %>
          <%= user.nickname %>
        <% end %>
      </div>
      <div class="col-2">
        <% if user.is_user_deleted == false  %>
          <p class="text-success font-weight-bold">可動中</p>
        <% elsif %>
          <p class="text-muted">停止中</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>